<p id="notice"><%= notice %></p>

<br>
<h2 id='list-name'>Gift Lists:</h2>

<div class='panel panel-default'>
    <ul class="list-group">
        <% @lists.each do |list| %>
        <li class="list-group-item">
            <%= link_to list.name, list_path(list) %>
        </li>
            <% end %>
        <% if current_user.id == 1 %>
        <li><%= link_to 'Edit', edit_list_path(list) %></li>
        <li><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <%end%>
        </ul>

</div>

<div class='panel panel-default'
<%= render 'form', list: @list %>
</div>
