<div class='jumbotron'>
    <h2 id='list-name'>My Gifts</h2>
</div>

<div class='sigin float-right'>
    <div class="border-form-div">
        <h4 id='wishlist'><strong><%=@possessive_user%> Wishlist</strong></h4>
        <ul class="list-group">
            <% @my_gifts.each do |gift| %>
            <li class="list-group-item">
                <span class=class="label label-danger"><%= link_to 'X', list_gift_path(@list,gift), method: :delete, class:"label label-danger" %></span>
                <%= gift.name  %>
            </li>
                <% end %>
            </ul>
            <%= render 'wishlist', gift: @gift%>
        </div>

        <div id='list' class='panel panel-default col-md-4'>
            <table class="table table-hover table-responsive table-inverse table-condensed float-left">
                <thead>
                    <tr>
                        <th>Claimed Gifts</th>
                        <th></th>
                        <th>Recipient</th>
                    </tr>
                </thead>

                <tbody>
                    <% @claimed_gifts.each do |claimed_gift| %>
                    <tr>
                        <td><%= claimed_gift.name.capitalize  %></td>
                        <td>for</td>
                        <td><%= claimed_gift.requester.username.capitalize  %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
